@use './utils' as *;
@import '../variables/Variable.scss';

.home {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 0.7rem;
	overflow: hidden;
	border: 1px solid rgb(181, 181, 181);
	box-shadow: 4px 0px rgb(210, 210, 210);
	background-color: #f7f7f7;

	@include breakpoint-down(medium) {
		margin-top: rem(20);
		background-color: white;
		box-shadow: none;
	}
}

.calander {
	margin-top: 0rem;

	@include breakpoint-down(medium) {
		display: none;
	}

	&__text {
		display: flex;
		flex-direction: column;
		align-items: center;

		&--header {
			margin-bottom: 0;
			font-family: $bodyFont;
		}
		&--textOne {
			font-size: small;
			width: rem(350);
			font-family: $bodyFont;
			margin-bottom: 0;
			margin-left: 0.6rem;
		}
		&--textTwo {
			font-size: small;
			width: rem(350);
			font-family: $bodyFont;
			margin-top: 0.2rem;
		}
	}
}

.form {
	padding: 1rem 0 5rem 5rem;
	margin-left: 0;
	width: 29rem;
	background-color: white;
	border-left: 1px solid rgb(181, 181, 181);
	@include breakpoint-down(medium) {
		width: 24vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: rem(70);
		margin-top: rem(50);
		border: none;
		padding: 2.5rem;
	}
	&__heading {
		font-weight: bolder;
		font-size: x-large;

		font-family: $bodyFont;
		padding-bottom: 1rem;
		margin-top: 3rem;
		margin-bottom: 2rem;
		@include breakpoint-down(medium) {
			margin-top: -2.5rem;
			margin-bottom: 0;
			font-size: large;
		}
	}
	&__body {
		display: flex;
		flex-direction: column;
		&--text {
			font-size: small;
			margin-bottom: 0.5rem;
			color: rgb(120, 120, 120);
			font-family: $bodyFont;
		}
		&--input {
			border-radius: 0.2rem;
			outline: none;
			padding: 0.6rem 0.3rem;
			width: rem(280);

			border: 1px solid rgb(232, 232, 232);
			box-shadow: 0.5px 0.5px rgb(232, 232, 232);

			&--no {
				width: 10rem;
			}
		}
		&--error {
			color: red;
			padding: 0;

			margin-top: 1.5px;
			font-size: small;
			position: relative;
		}
	}
	&__tc {
		display: flex;
		align-items: center;
		padding-bottom: 0.7rem;

		&--text {
			font-family: $bodyFont;
			font-weight: bolder;
			cursor: pointer;
			font-size: small;
		}
		&--checkbox {
			margin-right: 0.5rem;
			cursor: pointer;
		}
	}
	&__button {
		&--button {
			background: $buttonBg;
			outline: none;
			border: none;
			border-radius: 0.5rem;
			padding: 0.7rem 3rem;
			color: white;
			font-size: large;
			cursor: pointer;
			&--text {
				font-size: medium;
			}
		}
	}
}
