@use './styles/utils/' as *;

#root {
	min-height: 100vh;
	margin: 0;
	display: grid;
	place-items: center;
}
body {
	margin: 0;
}

html {
	min-height: 100vh;
}

.container {
	padding: 0 rem(25);
	max-width: rem(1110);

	@include breakpoint(large) {
		padding: 0;
	}
}

:root {
	background-color: #f7f7f7;
}
